html {
  font-size: 16px;
}



body {
    color: darkslategray;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../images/white_brick_wall.png");
    
    background-repeat: no-repeat;
    /* x-axis y-axis */
    background-position: 100px 400px;
    background-size: contain;
}
h1{
    color: white;
}
p{
    background-color: lightblue;
}
h1,h2,h3,h4 {
    text-decoration: underline;
}

nav ul {
    list-style: none;
}
/* EX 1 - Diaplay and Box Sizing */
nav ul li {
    display: inline-block;
    width: 49%;
    padding: 1em;
    box-sizing: border-box;
    
}
nav ul a {
    display: block;
    color: darkslategray;
    text-decoration: none;
    font-size: 1.5rem;
    /* 1.5 x 16px = 24px */
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
}

.orange-link {
    padding: 5em;
    display: inline-block;
    background-color: darkslategray;
    color: orange;
    text-decoration: none;
}

.orange-link.large-text {
    position: absolute;
    right: 0;
    bottom: 0;
}

/* Float */
article,
aside {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid black;
    padding: 1.5em;
    box-sizing: border-box;
    float: left;
}
aside{
    width: 20%;
}
#treatofweek {
    /* clearing the float */
    position: relative;
    clear: left;
    background: darkslategray url("../images/bread.jpg") no-repeat center center;
    background-size: cover;
    color: #fff;
    font-size: 1.5rem;
    /* 1.5 x 16px = 24px */
    padding: 1em;
    /* 1 x 24 px = 24px */
    width: 50%;
    padding: 1em 1em 3em 1em;
}
#treatofweek dl ul li:nth-child(n) {
    background-color: transparent;
}
.large-text {
    font-size: 1.25rem;
}

article > p{
    font-size: 24px;
    font-weight: bold;
    line-height: 1.5;
    text-transform: lowercase;
    text-align: center;
    word-spacing: 2px;

}

h3+ul {
    border: 1px solid black;
}

a[href="#treatofweek"] {
    font-weight: bold;
}
[title*="Executive"] {
    background-color: yellow;
}
nav ul a,
nav ul a:Link,
nav ul a:visited {
    background-color: orange;
    /* horizontal vertical blur spread color */
    box-shadow: -2px 2px 4px 2px black;
}

nav ul a:hover,
nav ul a:focus {
    text-decoration: underline;
}

nav ul a:active {
    box-shadow: 0 0 4px 2px black;
}

aside ul li:frist-child {
    font-weight: bold;
}

section ol li:last-child {
    font-weight: bold;
}
/* 
nth-child using the formula 
n = 0,1,2,3,4,5......
even = 2n = 2,4,6,8......
odd = 2n+1 =1,3,5,7,9......
*/

dl ul li:nth-child(odd) {
    background-color: white;
}
footer {
    background-color: #d5836c;
    padding: 20px;
}